.jumbotron {
    padding: 2rem 1rem;
    background-color: #F7FFE5;
}

.about {
    padding: 2rem 1rem;
    background-color: #E1ECC8;
}

#project {
    padding: 2rem 1rem;
    background-color: #C4D7B2;
}

.contact {
    padding: 2rem 1rem;
    background-color: #E1ECC8;
}